<h1>メモアプリ</h1>

<ul>
    <% @memos.each do |memo| %>
    <li>
        <a href="/show/<%= memo['id']%>">
          <%= memo['title']%>
        </a>
    </li>
    <% end %>
</ul>


<button type="button" onclick="location.href='/new'">
    追加
</button>